# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
supabase
pymongo
google-genai
python-telegram-bot
requests
python-dotenv
